In [117]:
#Import sqlalchemy
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect
from sqlalchemy import extract

In [77]:
#Import dependencies
import pandas as pd
import numpy as np

#Import PostgreSQL password
from config import postgre_pw

# Set up SQLalchemy

In [78]:
#Connect to the database
engine = create_engine(f'postgresql://postgres:{postgre_pw}@localhost:5432/F1 Data')

#Reflect the database
Base = automap_base()

#Reflect the tables
Base.prepare(engine, reflect=True)

In [79]:
#Save the table references
Circuits = Base.classes.circuits
Constructor_results = Base.classes.constructorResults
Constructor_standings = Base.classes.constructorStandings
Constructors = Base.classes.constructors
Driver_standings = Base.classes.driverStandings
Drivers = Base.classes.drivers
Lap_times = Base.classes.lapTimes
Pit_stops = Base.classes.pitStops
Qualifying = Base.classes.qualifying
Races = Base.classes.races
Results = Base.classes.results
Seasons = Base.classes.seasons
Sprint_results = Base.classes.sprint_results
Status = Base.classes.status

In [80]:
#Create a session
session = Session(engine)

# Get 'all' mechanical failure results

In [81]:
#Create list of mechanical failures manually identified by statusId
mech_fail_id = [5, 6, 7, 8, 9, 10, 21, 22, 23, 24, 25, 26, 28, 30, 32, 34, 36, 37, 38, 39, 40, 42, 43, 44, 47, 48, 49, 51, 56, 129, 63, 66, 69, 70, 71, 72, 74, 75 ,76, 79, 80, 83, 84, 85, 86, 87, 91, 94, 95, 98, 99, 101, 102, 103, 105, 106, 108, 109, 110, 126, 131, 132, 135, 136, 140, 141]

In [82]:
#Create dataframe by filtering Results table for mechanical failures
mech_failures_df_raw = pd.read_sql(session.query(Results).filter(Results.statusId.in_(mech_fail_id)).statement, session.bind)

## Add matching data from other tables and make it pretty

In [83]:
#Clean mech_failures_df by dropping unnecessary columns
mech_failures_df = mech_failures_df_raw.drop(columns=['number', 'grid', 'points', 'laps', 'time', 'milliseconds', 'fastestLap', 'rank', 'fastestLapTime', 'fastedLapSpeed'])

### Add status description

In [84]:
#Append status description to mech_failures_df
mech_failures_df = mech_failures_df.merge(pd.read_sql(session.query(Status).statement, session.bind), on='statusId')

### Add driver names

In [85]:
#Add driver forename and surname
mech_failures_df = mech_failures_df.merge(pd.read_sql(session.query(Drivers).statement, session.bind), on='driverId')

In [86]:
#Couldn't find how to merge on specific columns, so I had to drop the unnecessary columns
mech_failures_df = mech_failures_df.drop(columns=['driverRef', 'number', 'code', 'dob', 'nationality', 'url'])

In [87]:
#Merge forename and surname into one column
mech_failures_df['driver_name'] = mech_failures_df['forename'] + ' ' + mech_failures_df['surname']

### Add constructor names

In [88]:
#Add constructor name
mech_failures_df = mech_failures_df.merge(pd.read_sql(session.query(Constructors).statement, session.bind), on='constructorId')

In [89]:
#Couldn't find how to merge on specific columns, so I had to drop the unnecessary columns
mech_failures_df = mech_failures_df.drop(columns=['constructorRef', 'nationality', 'url'])

In [90]:
#Rename constructor name column
mech_failures_df = mech_failures_df.rename(columns={'name': 'constructor_name'})

### Add race data

In [91]:
#year,round,circuitId,name,date

#Add race data
mech_failures_df = mech_failures_df.merge(pd.read_sql(session.query(Races).statement, session.bind), on=['raceId'])

In [92]:
#Couldn't find how to merge on specific columns, so I had to drop the unnecessary columns
mech_failures_df = mech_failures_df.drop(columns=['round', 'time', 'url', 'fp1_date', 'fp1_time', 'fp2_date', 'fp2_time', 'fp3_date', 'fp3_time', 'quali_date', 'quali_time', 'sprint_date', 'sprint_time'])

In [93]:
#Rename race columns
mech_failures_df = mech_failures_df.rename(columns={'year': 'race_year', 'name': 'race_name', 'date': 'race_date'})

# Final df

In [94]:
#Reorder columns
mech_failures_df = mech_failures_df[['resultId', 'raceId', 'race_year', 'circuitId', 'race_name', 'race_date', 'driverId', 'forename', 'surname', 'driver_name', 'position', 'positionText', 'positionOrder', 'constructorId', 'constructor_name', 'statusId', 'status']]

In [95]:
mech_failures_df

,resultId,raceId,race_year,circuitId,race_name,race_date,driverId,forename,surname,driver_name,position,positionText,positionOrder,constructorId,constructor_name,statusId,status
0,7,18,2008,1,Australian Grand Prix,2008-03-16,7,Sébastien,Bourdais,Sébastien Bourdais,7.0,7,7,5,Toro Rosso,5,Engine
1,8,18,2008,1,Australian Grand Prix,2008-03-16,8,Kimi,Räikkönen,Kimi Räikkönen,8.0,8,8,6,Ferrari,5,Engine
2,13,18,2008,1,Australian Grand Prix,2008-03-16,13,Felipe,Massa,Felipe Massa,NaN,R,13,6,Ferrari,5,Engine
3,12,18,2008,1,Australian Grand Prix,2008-03-16,12,Nelson,Piquet Jr.,Nelson Piquet Jr.,NaN,R,12,4,Renault,8,Clutch
4,16,18,2008,1,Australian Grand Prix,2008-03-16,16,Adrian,Sutil,Adrian Sutil,NaN,R,16,10,Force India,9,Hydraulics
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6296,24965,1047,2020,24,Abu Dhabi Grand Prix,2020-12-13,815,Sergio,Pérez,Sergio Pérez,NaN,R,20,211,Racing Point,7,Transmission
6297,24625,1030,2019,24,Abu Dhabi Grand Prix,2019-12-01,840,Lance,Stroll,Lance Stroll,NaN,R,20,211,Racing Point,23,Brakes
6298,24685,1033,2020,11,Hungarian Grand Prix,2020-07-19,842,Pierre,Gasly,Pierre Gasly,NaN,R,20,213,AlphaTauri,5,Engine
6299,25045,1055,2021,4,Spanish Grand Prix,2021-05-09,852,Yuki,Tsunoda,Yuki Tsunoda,NaN,R,20,213,AlphaTauri,10,Electrical
6300,25645,1085,2022,34,French Grand Prix,2022-07-24,852,Yuki,Tsunoda,Yuki Tsunoda,NaN,R,20,213,AlphaTauri,140,Undertray

In [96]:
#Export dataframe to csv
mech_failures_df.to_csv('mech_failures.csv', index=False)

# Order results by years and drivers

In [97]:
#Doing this helps the process of visualizing the data in Tableau

## Order by years

In [98]:
#Group by count of statusId per year
mech_failures_per_year = mech_failures_df.groupby(mech_failures_df['race_year']).count()['statusId']

In [137]:
#Create dataframe from groupby
mech_failures_per_year_df = pd.DataFrame(mech_failures_per_year)

In [138]:
mech_failures_per_year_df

           statusId
race_year
1950             59
1951             70
1952             66
1953             92
1954             86
...             ...
2018             45
2019             28
2020             28
2021             21
2022             33

[73 rows x 1 columns]

In [142]:
#Add column for number of races each year
mech_failures_per_year_df['number_of_races'] = pd.read_sql(session.query(func.count(Races.raceId)).group_by(Races.year).statement, session.bind)

In [139]:
mech_failures_per_year_df['number_of_races'] = pd.read_sql('SELECT COUNT("raceId") FROM races GROUP BY year ORDER BY year', session.bind)

In [143]:
mech_failures_per_year_df

           statusId  number_of_races
race_year
1950             59              NaN
1951             70              NaN
1952             66              NaN
1953             92              NaN
1954             86              NaN
...             ...              ...
2018             45              NaN
2019             28              NaN
2020             28              NaN
2021             21              NaN
2022             33              NaN

[73 rows x 2 columns]

In [141]:
session.query(Races.raceId).column_descriptions

[{'name': 'raceId',
  'type': INTEGER(),
  'aliased': False,
  'expr': <sqlalchemy.orm.attributes.InstrumentedAttribute at 0x1b1409a0680>,
  'entity': sqlalchemy.ext.automap.races}]